@model IEnumerable<FinalProject_AdvancedDatabaseAndORMConcepts_SlackOverload.Models.QuestionTag>

@{
    ViewData["Title"] = "ShowAllQuestionsByTag";
}

<h1>ShowAllQuestionsByTag</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="QuestionDetails" asp-route-questionId="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
